[buildout]
extends = http://dist.plone.org/release/4-latest/versions.cfg
find-links =
    http://dist.plone.org/release/4-latest/
    http://dist.plone.org/thirdparty/

eggs =
    test.localutility

develop = .

versions = versions
parts = instance

[versions]
plone.formwidget.contenttree = 1.0.9


[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
eggs =
    Plone
    plone.app.upgrade
    ${buildout:eggs}
